html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;

  color: #333;

  -webkit-font-feature-settings: "kern", "liga";
  -moz-font-feature-settings: "kern", "liga";
  font-feature-settings: "kern", "liga";
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
  line-height: 1.1;
  margin: 1em 0 .5em;
}

h1 {
  padding: 1em 0;
  margin: 0;
  text-align: center;
  font-size: 250%;
}

h2 {
  font-size: 175%;
  padding: .5em 0;
  margin: 0;
}

h3 {
  font-size: 150%;
}
h4 {
  font-size: 125%;
}

pre.sourceCode {
  padding: 10px 20px;
  margin: 0;
}

code {
  color: inherit;
  background-color: inherit;
}

pre code {
  font-family: "Source Code Pro", monospace;
  font-size: 13px;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  border: 0px;
  border-bottom: 1px solid #eee;
  margin: 50px 0;
}

.document-title {
  text-transform: uppercase;
  font-size: 200%;
  text-align: center;
  padding-bottom: 0;
}
.document-version {
  font-size: 150%;
  color: #666;
  text-align: center;
  margin-top: 0;
}

.author {
  color: #006;
  font-weight: bold;
  text-align: center;
}

img {
  margin: 0 auto;
}

#sidebar-wrapper {
  overflow-x: hidden;
}

a:link {
  color: #4070a0;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: #205080;
}

/* Body Links */

p a {
  text-decoration: underline;
}


li code, p code, table code {
  border: none;
  margin: 0;
  padding: 0 3px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background: #eee;
}


/* Tables */

table{
  width: 100%;
  background: #fff;
  border: 0;
  border-collapse:collapse;

  margin: 20px 0;
}

th, td {
  padding: 5px 10px;
  text-align:left;
  vertical-align:top;
  border: 1px solid #ddd;
}

tr:nth-child(even) td{
    background:#f7f7f7;
}

/* Provide an overflowing container for the wide table */
.overflow-table {
  width: 100%;
  margin: 20px 0;
  overflow-x: auto;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.overflow-table table {
  margin: 0;
}
/* Join the table borders with the .overflow-table div borders */
.overflow-table tr td:first-child,
.overflow-table tr th:first-child {
  border-left: none;
}
.overflow-table tr td:last-child,
.overflow-table tr th:last-child {
  border-right: none;
}
/* Hide the stray paragraph tag generated by the build */
.overflow-table > p {
  display: none;
}

.center {
    text-align: center;
}

.bigger img {
    width: 120%;
    height: 120%;
}

.annotation {
    font-size: 10pt;
}

.annotation pre {
    display: block;
    margin: 0;
    padding: 7px 10px;
    overflow-x: auto;
}

.annotation.span2 {
    /* Override bootstrap */
    margin-left: 0px !important;
    margin-top: 18px !important;
}

.annotation pre code {
    border: 0;
    padding: 0;
    background: transparent;
}

blockquote {
    border-left: 5px solid #ccc;
    margin: 0;
    padding: 1px 0 1px 1em;
}

.sections blockquote p {
    font-family: Menlo, Consolas, Monaco, monospace;
    font-size: 12px; line-height: 16px;
    color: #999;
    margin: 10px 0 0;
    white-space: pre-wrap;
}

ul.sections {
    list-style: none;
    padding:0 0 5px 0;
    margin:0;
}

code.sourceCode {
    padding: 0;
    background: inherit;
}

ul.sections > li > div {
    -moz-box-sizing: border-box;    /* firefox */
    -ms-box-sizing: border-box;     /* ie */
    -webkit-box-sizing: border-box; /* webkit */
    -khtml-box-sizing: border-box;  /* konqueror */
    box-sizing: border-box;         /* css3 */
}

/* Boxes */

.alert {
    padding: 5px 15px;
    margin-bottom: 15px;
    bakground: #eee;
}
.alert a {
  color: inherit;
}
.alert-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-danger {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}
