/* stephendiehl.com stylesheet */

@import url(http://fonts.googleapis.com/css?family=Signika);

html {
    overflow-y: scroll;
}

body {
  font-size: 14px;
  font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #332;
}

h1, h2, h3, h4, h5 {
  color: #332;
  font-family: "Signika";
  font-weight: 400;
  line-height: 1.1;
}

pre code {
  font: 15px/19px Inconsolata, Monaco,"Lucida Console",Terminal,"Courier New",Courier;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  border: 0px;
  height: 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 100px;
}

.author {
  color: #006;
  font-weight: bold;
}

/* TOC Links */
a { 
  color: #111111;
  text-decoration: none;
}

.body li a {
  text-decoration: underline;
}

.toc a { 
  text-decoration: none;
  font-size: 8pt;
  line-height: 0.9;
}

.toc a:hover { 
  text-decoration: underline;
}

/* Body Links */
 
p a { 
  text-decoration: underline;
}

li code, p code, table code {
  font-size: 12px;
  border: 1px solid #ccc;
  margin-left: 3px;
  margin-right: 3px;
  padding-left: 5px;
  padding-right: 5px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

/* Language Extensions Table */

.table-striped .verical {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.table-striped .striped-header td {
  /*border-bottom: 1px solid black;*/
}

.table-striped .striped-header td {
  padding-left: 10px; 
  padding-right: 10px; 
  font-weight: bold;
  font-size: 8pt;
}

.table-striped {
  text-align: center;
  border-spacing: 0px;
  padding: 0px;
}

.table-striped td:first-child {
  text-align: left;
}

.table-striped td:nth-child(5) {
  text-align: left;
  padding-right: 10px;
}

.table-striped td:nth-child(6) {
  text-align: left;
  padding-right: 10px;
}


.table-striped a {
  text-decoration: underline;
}

.table-striped

.table-striped tr:nth-child(even) {
  background-color: white;
}

.table-striped tr:nth-child(odd) {
  background-color: #eeeeee;
}

/*  */

.center {
    text-align: center;
}

.bigger img {
    width: 120%;
    height: 120%;
}

pre {
  font-size: 0.9em;

  margin-bottom: 18px;
  margin-top: 18px;

  border-left: 1px solid #ccc;

}

h1 {
  margin-top: 0px;
}

.annotation {
    font-size: 10pt;
}

.annotation pre {
    display: block;
    margin: 0;
    padding: 7px 10px;
    overflow-x: auto;
}

.annotation.span2 {
    /* Override bootstrap */
    margin-left: 0px !important;
    margin-top: 18px !important;
}

.annotation pre code {
    border: 0;
    padding: 0;
    background: transparent;
}

blockquote {
    border-left: 5px solid #ccc;
    margin: 0;
    padding: 1px 0 1px 1em;
}

.sections blockquote p {
    font-family: Menlo, Consolas, Monaco, monospace;
    font-size: 12px; line-height: 16px;
    color: #999;
    margin: 10px 0 0;
    white-space: pre-wrap;
}

ul.sections {
    list-style: none;
    padding:0 0 5px 0;
    margin:0;
}

code.sourceCode {
    padding: 0;
    background: inherit;
}

pre.sourceCode {
    padding: 10px;
}

ul.sections > li > div {
    -moz-box-sizing: border-box;    /* firefox */
    -ms-box-sizing: border-box;     /* ie */
    -webkit-box-sizing: border-box; /* webkit */
    -khtml-box-sizing: border-box;  /* konqueror */
    box-sizing: border-box;         /* css3 */
}

.toc {
}

.toc ul ul {
    padding-left: 0.8em;
}

.toc > ul {
    margin-top: 0px;
    font-size: 12px;
}

.toc li {
    line-height: 15px !important;
    list-style-type: none;
}

/*----------------------  (> 481px) ---------------------*/
@media only screen and (min-width: 481px) {
}

/*
@media only screen and (max-width: 1025px) {
  .toc {
    display: none;
  }
}
*/

@media only screen and (min-width: 1025px) {
  body {
      padding: 10px;
  }

  .side {
      position: fixed;
      width: 270px !important;
      margin-left: 0px;
      z-index: 1000;
  }

  .side ul ul {
    display: none;
  }

  .side ul ul.active {
    display: block;
  }

  .side .active {
      font-weight: bold;
  }

  .body {
      margin-left: 270px !important;
  }

}
