<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>What I Wish I Knew When Learning Haskell 2.3 ( Stephen Diehl )</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    $for(author-meta)$
    <meta name="author" content="$author-meta$">
    $endfor$
    $if(date-meta)$
    <meta name="dcterms.date" content="$date-meta$">
    $endif$

    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700|Source+Code+Pro" rel="stylesheet">
    <style type="text/css">
      $header-includes$
    </style>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49839533-1', 'stephendiehl.com');
      ga('send', 'pageview');
    </script>

    $if(highlighting-css)$
      <style type="text/css">
    $highlighting-css$
      </style>
    $endif$

    $for(css)$
    <link rel="stylesheet" href="$css$" $if(html5)$$else$type="text/css" $endif$/>
    $endfor$

    $if(math)$
    $if(html5)$
    $else$
      $math$
    $endif$
    $endif$
    $for(header-includes)$
      $header-includes$
    $endfor$
  </head>

  <body itemscope itemtype="http://schema.org/TechArticle">
    <div id="sidebar-wrapper">
      <a href="http://dev.stephendiehl.com/hask/" class="logo">
        <img src="img/haskell_logo.svg" alt="Haskell Logo">
      </a>
      <button id="toggle-sidebar">
        Menu
      </button>
      <ul class="sidebar-nav">
$toc$
      </ul>
    </div>

    <div id="main-wrapper">
      <div id="main">
        <h1 class="document-title" itemprop="name">
          What I Wish I Knew When Learning Haskell
        </h1>
        <p itemprop="version" class="document-version">
        Version
        <span class="version">2.3</span>
        </p>
$body$
      </div>
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/nav.js"></script>
  </body>
</html>
